<div *ngIf="loading">Loading…</div>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="save()" class="card p-3">
  <h5 class="mb-3">Edit Trip</h5>
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Name</label>
      <input class="form-control" formControlName="name">
    </div>
    <div class="col-md-6">
      <label class="form-label">Location</label>
      <input class="form-control" formControlName="location">
    </div>
    <div class="col-md-3">
      <label class="form-label">Duration</label>
      <input type="number" class="form-control" formControlName="duration">
    </div>
    <div class="col-md-3">
      <label class="form-label">Price</label>
      <input type="number" class="form-control" formControlName="price">
    </div>
    <div class="col-md-6">
      <label class="form-label">Image URL</label>
      <input class="form-control" formControlName="image">
    </div>
    <div class="col-12">
      <label class="form-label">Summary</label>
      <input class="form-control" formControlName="summary">
    </div>
    <div class="col-12">
      <label class="form-label">Description</label>
      <textarea class="form-control" rows="4" formControlName="description"></textarea>
    </div>
  </div>
  <div class="mt-3 d-flex gap-2">
    <button class="btn btn-primary" type="submit" [disabled]="saving">Save</button>
    <a class="btn btn-secondary" routerLink="/">Cancel</a>
  </div>
</form>
